@use '../abstracts/variables' as v;

.p-error {
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;

  img {
    width: clamp(200px, 80vw, 350px);

    @media (max-width: v.$breakpoint-mobile) {
      width: 100%;
    }
  }
}
