@use '../abstracts/variables' as v;
@use '../abstracts/mixins';

body {
  font: v.$font-size-default v.$default-font-family;
  background-color: v.$gray-200;
  color: v.$white;
  width: 100%;
  transition: background-color 150ms linear;
}

.content-wrapper {
  min-height: 80vh;
  position: relative;
}

section {
  margin-block: v.$gap-semi-large;
  @media screen and (max-width: v.$breakpoint-tablet) {
    margin-block: v.$gap-medium;
  }
}

h1,
h2,
h3,
h4 {
  font-family: v.$heading-font-family;
}

h1,
h2 {
  @include mixins.textBalance();

  text-align: center;
  font-weight: 500;
}

h3,
h4 {
  font-weight: 300;
}

h1 {
  text-transform: uppercase;
  color: v.$blue-100;
  font-size: v.$font-size-heading-1;
  margin-block: 1.75em 1.5em;
}

h2 {
  font-size: v.$font-size-heading-2;
  margin-block: 1.6em 1.35em;
}

h3 {
  font-size: v.$font-size-heading-3;
  margin-block: 1.35em 1em;
}

h4 {
  font-size: v.$font-size-heading-4;
  margin-block: 1em 0.6em;
}

hgroup {
  h2 {
    margin-block: 1.5em 1em;
  }
  h3 {
    margin-block: 1em 0.7em;
  }
  h4 {
    margin-block: 0.5em 0.4em;
  }
}

p {
  margin-block: 1.5em 1em;
  text-align: center;
}

label {
  user-select: none;
}

hr {
  background-color: v.$gray-300;
  margin-block: v.$gap-medium;
}

a,
button {
  &:hover {
    cursor: pointer;
  }
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

svg,
img {
  user-select: none;
}

img {
  pointer-events: none;
  &.icon {
    height: v.$icon-size-large;
  }
}

svg,
input {
  color: inherit;
}

svg.large {
  font-size: v.$icon-size-medium;
}

::selection {
  color: v.$gray-100;
  background-color: v.$white;
}

[data-nopointer] {
  pointer-events: none;
  cursor: default;
}
