@use '../abstracts/variables' as v;

// base colors for light theme
body[data-theme='light'] {
  background-color: v.$gray-900;
  color: black;

  ::selection {
    color: v.$white;
    background-color: v.$gray-100;
  }

  hr {
    background-color: v.$gray-500;
  }
}
