// normalize resets some default styling to achieve a consistent style across browsers.

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;

  * {
    box-sizing: border-box;
  }
}

button {
  border: none;
  user-select: none;
}

a {
  text-decoration: none;
}

a,
button {
  cursor: pointer;
  color: inherit;
}

hr {
  border: none;
  clear: both;
  display: block;
  width: 100%;
  height: 2px;
  margin: 0;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

input,
textarea,
select {
  &:-webkit-autofill,
  &:-webkit-autofill:is(:hover, :focus) {
    -webkit-text-fill-color: inherit;
    transition: 5000s ease-in-out 0s;
  }
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}
