@use '../abstracts/variables' as v;

$base-dark: v.$gray-300;
$shimmer-dark: rgb($base-dark, 0.3);

$base-light: lighten(v.$gray-500, 5%);
$shimmer-light: rgb($base-light, 0.3);

@mixin skeleton($shimmer, $base, $duration: 1.25s) {
  background: linear-gradient(90deg, $shimmer, $base, $shimmer);
  background-size: 200% 100%;
  animation: skeletonShimmer $duration infinite linear;

  @media (prefers-reduced-motion: reduce) {
    animation: skeletonShimmer 2s infinite linear;
  }
}

@keyframes skeletonShimmer {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.SkeletonRow {
  @include skeleton($shimmer-dark, $base-dark);
  height: 35px;
  border-radius: v.$border-radius-small;
}

.SkeletonCard {
  @include skeleton($shimmer-dark, $base-dark);

  display: flex;
  flex-direction: column;
  gap: v.$gap-small;
  padding: v.$gap-small;
  height: 200px;
  border-radius: v.$border-radius-small;

  .SkeletonRow {
    height: 20px;
  }
}

body[data-theme='light'] {
  .SkeletonRow {
    @include skeleton($shimmer-light, $base-light);
  }

  .SkeletonCard {
    @include skeleton($shimmer-light, $base-light);

    .SkeletonRow {
      @include skeleton($shimmer-dark, $base-light);
    }
  }
}
