@use './variables' as v;

@mixin hover($color) {
  transition: background-color 200ms;
  &:hover {
    background-color: darken($color, 5%);
  }
}

@mixin input() {
  font: v.$font-size-larger 'Open Sans', sans-serif;
  width: 100%;
  height: 2.25em;
  border-radius: 1.1em;
  padding: 0.5em 1em;
  outline: none;
  border: 1px solid v.$gray-400;
  background-color: v.$bright-fade-100;
  caret-color: white;
  color: white;
  line-height: 1;
  user-select: none;

  &:focus {
    border: 1px solid v.$blue-100;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &::placeholder {
    color: v.$gray-400;
  }
}
