@use '../abstracts/variables' as v;
@use '../abstracts/mixins';

$z-index: 10;

// source: https://www.radix-ui.com/primitives/docs/components/alert-dialog (modified)
.AlertDialogOverlay {
  background-color: v.$gray-400;
  position: fixed;
  inset: 0;
  animation: showAlertDialogOverlay 200ms cubic-bezier(0.16, 1, 0.3, 1) forwards;
  z-index: $z-index;

  @keyframes showAlertDialogOverlay {
    from {
      opacity: 0;
    }
    to {
      opacity: 0.5;
    }
  }
}

.AlertDialogContent {
  z-index: $z-index + 1;
  background-color: v.$gray-200;
  border-radius: v.$border-radius-medium;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 450px;
  max-height: 70vh;
  animation: showAlertDialogContent 500ms cubic-bezier(0.16, 1, 0.3, 1);
  overflow: hidden;
  border: 2px solid v.$gray-300;
  display: flex;
  flex-direction: column;

  &:focus {
    outline: none;
  }

  & > .header {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: v.$gap-tiny v.$gap-small;
    background-color: v.$gray-300;
    box-shadow: hsl(0, 0%, 10%, 1) 0 10px 15px -10px;
    user-select: none;

    & > .close {
      display: flex;
      background: none;
      color: inherit;
      font-size: v.$icon-size-large;
    }
  }

  & > .scroll-wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: auto;
    padding: v.$gap-medium;
    align-items: center;

    & > .title {
      text-align: center;
      margin-block: v.$gap-medium;
      @include mixins.textBalance();
    }

    & > .description {
      line-height: 1.5;
      margin-bottom: v.$gap-large;
    }

    & > .content {
      display: flex;
      gap: v.$gap-medium;
      flex-direction: column;
    }

    & > .buttons {
      display: flex;
      gap: v.$gap-medium;
      width: 100%;

      & > button {
        width: 100%;
      }
    }
  }

  @keyframes showAlertDialogContent {
    from {
      opacity: 0;
      transform: translate(-50%, -48%) scale(0.96);
    }
    to {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
  }
}

body[data-theme='light'] .AlertDialogContent {
  background-color: v.$gray-700;
  border: 2px solid v.$gray-600;

  & > .header {
    background-color: v.$white;
  }
}
