@use '../abstracts/variables' as v;
@use '../abstracts/mixins';

.Card {
  background-color: v.$gray-100;
  padding: v.$gap-medium;
  border-radius: v.$border-radius-medium;
  text-overflow: ellipsis;
  display: flex;
  flex-direction: column;
  gap: v.$gap-medium;
  justify-content: space-between;
  box-shadow: 3px 5px 4px rgb(black, 0.4);
  overflow: hidden;

  & > .header {
    display: flex;
    flex-direction: column;
    gap: v.$gap-small;
    width: 100%;

    & > .image {
      display: flex;
      justify-content: center;
      flex: 1 1 auto;

      img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        object-position: center;
      }
    }

    & > .body {
      display: flex;
      width: 100%;
      justify-content: space-between;

      & > .thumbnail {
        & > img {
          width: 40px;
          object-fit: cover;
          object-position: center;
          margin-left: v.$gap-small;
        }
      }

      & > .content {
        display: flex;
        flex-direction: column;
        gap: v.$gap-tiny;

        & > .title {
          @include mixins.textBalance();

          font: v.$font-size-large v.$heading-font-family;
          line-clamp: 2;
          -webkit-line-clamp: 2;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
        }

        & > .description {
          font-style: italic;
          line-clamp: 3;
          -webkit-line-clamp: 3;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          white-space: pre-line;
        }
      }
    }
  }

  & > .fields {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    & > .field {
      display: flex;
      gap: v.$gap-small;
      & > .label {
        font-weight: 600;
        &::after {
          content: ':';
        }
      }
    }
  }

  & > .buttons {
    width: 100%;
    display: flex;
    gap: v.$gap-small;
    flex-direction: column;
  }
}

body[data-theme='light'] .Card {
  border: 1px solid v.$gray-500;
  background-color: v.$gray-700;
}
