@use '../abstracts/variables' as v;

.CenteredContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  & > .content {
    width: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: v.$gap-medium;

    @media (max-width: v.$breakpoint-tablet) {
      width: 100%;
    }
  }
}
