@use '../abstracts/variables' as v;

.Center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  & > * {
    width: fit-content;
    min-width: 400px;
    max-width: 100%;

    @media screen and (max-width: v.$breakpoint-tablet) {
      min-width: 300px;
    }
  }
}
