@use '../abstracts/variables' as v;

.DataChangelog {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  border-bottom: 1px solid v.$gray-400;
  border-left: none;
  border-right: none;
  gap: v.$gap-tiny;
  padding-block: v.$gap-default;
  margin: v.$gap-default;

  @media screen and (max-width: v.$breakpoint-tablet) {
    align-items: center;
  }
}
