@use '../abstracts/variables' as v;

.DataList {
  & > dl > div {
    margin: 0;

    & > dt {
      font-weight: bold;
      font-size: v.$font-size-larger;

      &::after {
        content: ':';
      }
    }

    & > dd {
      margin: 0 0 v.$gap-medium 0;
      font-style: italic;
    }
  }
}
