@use '../abstracts/variables' as v;
@use '../abstracts/mixins';

// source: https://www.radix-ui.com/primitives/docs/components/dialog (modified)
.DialogOverlay {
  background-color: v.$gray-400;
  position: fixed;
  inset: 0;
  animation: showDialogOverlay 300ms cubic-bezier(0.16, 1, 0.3, 1) forwards;
  z-index: 2;

  @keyframes showDialogOverlay {
    from {
      opacity: 0;
    }
    to {
      opacity: 0.5;
    }
  }
}

.DialogContent {
  z-index: 10;
  background-color: v.$gray-200;
  border-radius: v.$border-radius-medium;
  box-shadow: hsl(0, 0%, 10%, 1) 10px 10px 18px -10px;
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 90vw;
  max-width: 450px;
  animation: showDialogContent 500ms cubic-bezier(0.16, 1, 0.3, 1);
  border: 2px solid v.$gray-300;
  overflow: hidden;

  &:focus {
    outline: none;
  }

  @keyframes showDialogContent {
    from {
      opacity: 0;
      translate: -50% -47%;
      scale: 0.94;
    }
    to {
      opacity: 1;
      translate: -50% -50%;
      scale: 1;
    }
  }

  & > .wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    max-height: 75vh;

    & > .header {
      width: 100%;
      height: fit-content;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: v.$gap-tiny v.$gap-small;
      background-color: v.$gray-300;
      box-shadow: hsl(0, 0%, 10%, 1) 0 10px 15px -10px;
      user-select: none;

      & > .close {
        display: flex;
        background: none;
        color: inherit;
        font-size: v.$icon-size-large;
      }
    }

    & > .scroll-wrapper {
      padding: v.$gap-medium;
      overflow-y: auto;
      scrollbar-gutter: stable;

      & > .title {
        margin-block: v.$gap-small;
      }

      & > .description {
        margin-bottom: v.$gap-large;
      }

      & > .buttons {
        display: flex;
        justify-content: flex-end;
        margin-top: v.$gap-medium;
        gap: v.$gap-small;
        flex-wrap: wrap;
        flex-basis: 100%;
      }
    }
  }
}

body[data-theme='light'] .DialogContent {
  background-color: v.$gray-700;
  border-color: v.$gray-100;

  & > .wrapper {
    & > .header {
      background-color: v.$white;
      box-shadow: none;
    }
  }
}
