@use '../abstracts/variables' as v;
@use '../abstracts/mixins';

.Downloader {
  display: flex;
  justify-content: flex-end;
  & > a {
    @include mixins.hover(v.$gray-300, lighten);
    text-decoration: underline;
  }
}
