@use '../abstracts/variables' as v;
@use '../abstracts/mixins';

.ExpandableList {
  a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: v.$gap-small;
  }

  .toggle {
    justify-content: space-between;

    svg {
      rotate: 90deg;
      transition: rotate 0.2s linear;
    }
  }

  ul {
    overflow: hidden;
    transition: font-size 0.3s ease-out;
    font-size: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &.expanded {
    a.toggle svg {
      rotate: 180deg;
    }

    ul {
      font-size: v.$font-size-smaller;
    }
  }

  .item .icon svg {
    width: 1em;
  }

  .item.disabled {
    opacity: 0.6;
    pointer-events: none;
  }
}
