@use '../abstracts/variables' as v;
@use '../abstracts/mixins';

.Footer {
  @include mixins.sizeTransition();
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background: linear-gradient(to bottom, v.$gray-200, v.$gray-100);
  margin-top: 30vh;
  margin-left: v.$vnav-width-collapsed;
  padding: v.$gap-medium;

  & > .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: v.$gap-medium;

    & > p {
      text-align: left;
      margin: 0;

      & > a {
        color: v.$blue-100;
      }
    }
  }

  & > .credits {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-block: v.$gap-small;

    & img {
      width: v.$icon-size-small;
    }
  }

  @media screen and (max-width: v.$breakpoint-mobile) {
    align-items: flex-start;

    & > .content {
      align-items: flex-start;
    }
  }

  @media screen and (max-width: v.$breakpoint-tablet) {
    margin-left: 0;
  }
}

body[data-nav-open='true'] .Footer {
  @media screen and (min-width: v.$breakpoint-tablet) {
    margin-left: v.$vnav-width;
  }
}

body[data-theme='light'] .Footer {
  background: linear-gradient(to bottom, v.$gray-900, rgb(v.$blue-100, 0.4));
}
