@use '../abstracts/variables' as v;

.Form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  & > .root {
    width: clamp(400px, 40vw, 550px);
    gap: v.$gap-medium;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: v.$breakpoint-mobile) {
      width: 100%;
    }

    & > .field {
      display: flex;
      flex-direction: column;
      gap: v.$gap-tiny;

      & > .label {
        font-size: v.$font-size-smaller;
        text-transform: uppercase;
        width: fit-content;

        &::after {
          content: ':';
        }
      }

      & > .message {
        opacity: 0.8;
        font-size: v.$font-size-smaller;
      }

      & .control[data-invalid] {
        border: 1px solid v.$red-100;
      }
    }

    & > .submit-button {
      margin-top: v.$gap-medium;

      &.hidden {
        display: none;
      }
    }
  }
}
