@use '../abstracts/variables' as v;
@use '../abstracts/mixins';

// source: https://www.radix-ui.com/primitives/docs/components/form (modified)
.Form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  & > .root {
    gap: v.$gap-medium;
    display: flex;
    flex-direction: column;
    width: 100%;

    & > .field {
      display: flex;
      flex-direction: column;
      gap: v.$gap-tiny;

      & > .label {
        @include mixins.label();
      }

      & > .message {
        opacity: 0.8;
        font-size: v.$font-size-smaller;
      }

      & .control[data-invalid] {
        border-color: v.$red-100;
      }
    }

    & > .submit-button {
      margin-top: v.$gap-medium;

      &.hidden {
        display: none;
      }
    }
  }
}
