@use '../abstracts/variables' as v;

.Grid {
  display: grid;
  gap: v.$gap-medium;

  &.autofit {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  &.autofill {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  &.large {
    gap: v.$gap-large;
  }
}
