@use '../abstracts/variables' as v;
@use '../abstracts/mixins';

.Input {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  position: relative;

  & > input {
    @include mixins.input();
  }

  & > label {
    font-size: v.$font-size-smaller;
    text-transform: uppercase;
    margin-left: 0.5rem;
    user-select: none;
  }

  & > .icon {
    position: absolute;
    top: 50%;
    right: v.$gap-medium;
    translate: 0 -50%;
  }

  & > input[type='search'] {
    &::-ms-clear,
    &::-ms-reveal {
      display: none;
      width: 0;
      height: 0;
    }

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      display: none;
    }
  }
}
