@use '../abstracts/variables' as v;

.Logo {
  font: clamp(v.$font-size-large, 5vh, 27px) 'Russo One', sans-serif;
  display: flex;
  align-items: center;
  gap: v.$gap-medium;
  user-select: none;
  white-space: nowrap;
  height: 100%;

  & > .title {
    text-transform: uppercase;
    color: transparent;
    animation: animate-logo 3s infinite linear;
    background: linear-gradient(90deg, v.$blue-600, v.$blue-100, v.$blue-600) 0 0 / 200% 100%;
    -webkit-background-clip: text;
    background-clip: text;
  }

  & > img {
    height: 100%;
    max-height: 2em;
  }

  @keyframes animate-logo {
    to {
      background-position: -200% 0;
    }
  }
}
