@use '../abstracts/variables' as v;
@use '../abstracts/mixins';

.Navbar {
  $z-index: 10;

  & > .hnav {
    z-index: $z-index;
    height: v.$hnav-height;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: v.$gap-tiny v.$gap-medium;
    background-color: v.$blue-300;
    top: 0;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2), 0 4px 6px -2px rgba(0, 0, 0, 0.1);

    & > .vnav-toggler {
      font-size: v.$icon-size-large;
      height: 30px;
      width: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
    }
  }

  & > .vnav {
    @include mixins.sizeTransition();

    z-index: $z-index;
    width: v.$vnav-width-collapsed + 1px; // +1px for border
    height: calc(100% - v.$hnav-height);
    position: fixed;
    top: v.$hnav-height;
    left: 0;
    background-color: v.$gray-100;
    border-right: 1px solid v.$gray-300;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: v.$gap-medium;
    padding: v.$gap-tiny;

    @media screen and (max-width: v.$breakpoint-tablet) {
      width: 0;
      padding-inline: 0;
    }

    & > :first-child {
      margin-top: 10vh;
    }

    & > :last-child {
      margin-bottom: 10vh;
    }

    & > .group {
      @include mixins.sizeTransition();
      background-color: v.$gray-200;
      border-radius: v.$border-radius-small;

      & > .item {
        display: flex;
        gap: v.$gap-small;
        padding: v.$gap-tiny;
        align-items: center;
        justify-content: center;
        border-radius: v.$border-radius-small;
        height: 50px;
        cursor: default;

        &.active {
          background-color: v.$blue-300;
          color: white;
        }

        &.link {
          &:not(.active) {
            @include mixins.hover(v.$gray-200);
          }
          cursor: pointer;
        }

        & > .icon {
          font-size: v.$icon-size-medium;
          transition: font-size 200ms linear;
        }

        & > :not(.icon) {
          display: none;
        }

        &.hide-collapsed {
          display: none;
        }
      }
    }
  }
}

body[data-nav-open='true'] .Navbar > .vnav {
  width: v.$vnav-width;
  padding-inline: v.$gap-small;

  & > .group {
    & > .item {
      white-space: nowrap;
      text-overflow: ellipsis;
      display: flex;
      padding: v.$gap-small;
      justify-content: flex-start;

      & > :not(.icon) {
        display: flex;
      }

      &:hover {
        user-select: none;
      }

      & > .icon {
        font-size: v.$icon-size-small;
        flex-basis: 20px;
      }
    }
  }
}

body[data-theme='light'] .Navbar {
  & > .vnav {
    background-color: v.$gray-700;
    border-right: 1px solid v.$gray-600;
    box-shadow: 0 5px 10px -3px rgba(0, 0, 0, 0.2), 0 4px 6px -2px rgba(0, 0, 0, 0.1);

    & > .group {
      background-color: v.$gray-800;

      & > .item.link:not(.active) {
        @include mixins.hover(v.$gray-900);
      }
    }
  }
}
