@use '../abstracts/variables' as v;

.Paginator {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: v.$gap-medium;

  & > .total-items {
    font-size: v.$font-size-larger;
    text-transform: uppercase;
    font-weight: 600;
  }

  @media screen and (max-width: v.$breakpoint-mobile) {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: v.$gap-medium;

    & > * {
      width: 100%;
    }
  }
}
