@use '../abstracts/variables' as v;

.RippleEffect {
  $size: clamp(280px, 80vw, 450px);

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  & > .container {
    width: $size;
    height: $size;
    display: flex;
    justify-content: center;
    align-items: center;

    & > span {
      position: absolute;
      border: 90px solid rgba(255, 215, 0, 0.4);
      border-radius: 50%;
      animation: rippleEffect 5s linear infinite;

      @for $i from 1 through 10 {
        &:nth-child(#{$i}) {
          animation-delay: #{$i * -0.5}s;
        }
      }

      @media screen and (max-width: v.$breakpoint-mobile) {
        border-width: 50px;
      }
    }

    @keyframes rippleEffect {
      0% {
        width: 0;
        height: 0;
      }
      50% {
        opacity: 1;
      }
      100% {
        width: $size;
        height: $size;
        opacity: 0;
      }
    }
  }
}
