@use '../abstracts/variables' as v;
@use '../abstracts/mixins';

.Select {
  position: relative;
  max-width: 100%;
  height: fit-content;

  & > .label {
    @include mixins.label();
  }

  & > .wrapper {
    @include mixins.input();

    z-index: 2;
    display: flex;
    align-items: center;
    gap: v.$gap-small;
    cursor: pointer;
    height: auto;
    border-radius: 25px;
    overflow: hidden;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    & > .value {
      flex-grow: 1;
      display: flex;
      flex-wrap: wrap;
      gap: v.$gap-tiny;

      & > .option-badge {
        all: unset;
        display: flex;
        gap: v.$gap-tiny;
        background-color: v.$gray-300;
        padding: 3px v.$gap-tiny;
        border-radius: v.$border-radius-small;
        border: 1px solid v.$gray-400;

        &:hover,
        &:focus {
          background-color: rgba(v.$red-100, 0.2);
          border-color: v.$red-100;
        }
      }
    }

    & > .clear-button {
      all: unset;
      font-size: v.$icon-size-medium;
      cursor: pointer;
      opacity: 0.7;

      &:hover,
      &:focus {
        opacity: 1;
      }
    }

    & > .divider {
      background-color: v.$gray-300;
      align-self: stretch;
      width: 2px;
    }

    & > .caret {
      translate: 0 -5%;
      font-size: v.$icon-size-medium;
    }

    & > .options {
      z-index: 3;
      position: absolute;
      list-style-type: none;
      margin: 0;
      padding: v.$gap-small 0;
      max-height: 25vh;
      width: 100%;
      max-width: 500px;
      overflow: hidden;
      overflow-y: auto;
      border: 2px solid v.$gray-300;
      border-radius: v.$border-radius-large;
      left: 0;
      top: calc(100% + v.$gap-small);
      display: none;
      gap: 2px;
      flex-direction: column;
      background-color: v.$gray-100;

      &.show {
        display: flex;
      }

      & > .option {
        position: relative;
        padding: 7px;
        padding-left: 30px;
        border-radius: v.$border-radius-small;
        margin-inline: v.$gap-tiny;

        & > .check-mark {
          position: absolute;
          left: 5px;
          top: 50%;
          translate: 0 -50%;
          font-size: v.$icon-size-small;
          display: none;
        }

        &.selected {
          background-color: v.$gray-300;

          & > .check-mark {
            display: block;
          }
        }

        &.highlighted {
          @media screen and (min-width: v.$breakpoint-tablet) {
            background-color: v.$gray-400;
          }
        }

        &.disabled {
          opacity: 0.6;
          cursor: not-allowed;
          pointer-events: none;

          &.highlighted {
            background-color: none;
          }
        }
      }
    }
  }
}

body[data-theme='light'] .Select {
  & > .wrapper {
    background-color: v.$gray-700;
    border-color: v.$gray-500;

    &:focus {
      border-color: v.$blue-100;
    }

    & > .value {
      & > .option-badge {
        background-color: v.$gray-700;
        border-color: v.$gray-400;

        &:hover,
        &:focus {
          background-color: rgba(v.$red-100, 0.2);
          border-color: v.$red-100;
        }
      }
    }

    & > .options {
      background-color: v.$gray-600;

      & > .option {
        &.selected {
          background-color: v.$gray-500;
        }

        &.highlighted {
          background-color: v.$gray-450;
        }

        &.disabled {
          &.highlighted {
            background-color: none;
          }
        }
      }
    }
  }
}
