@use '../abstracts/variables' as v;
@use '../abstracts/mixins';

.Select {
  display: flex;
  flex-direction: column;
  gap: v.$gap-tiny;

  & > .label {
    font-size: v.$font-size-smaller;
    text-transform: uppercase;
    width: fit-content;

    &::after {
      content: ':';
    }
  }
}

.SelectTrigger {
  @include mixins.input();

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: v.$gap-small;

  .SelectIcon {
    font-size: v.$icon-size-medium;
  }
}

.SelectContent {
  overflow: hidden;
  background-color: v.$gray-100;
  border: 1px solid v.$bright-fade-200;
  border-radius: v.$border-radius-medium;
  box-shadow: 0px 10px 38px -10px rgb(22, 23, 24, 0.35), 0px 10px 20px -15px rgb(22, 23, 24, 0.2);
  z-index: v.$max-z-index;
}

.SelectViewport {
  padding: 5px;
}

.SelectItem {
  font-size: v.$font-size-larger;
  line-height: 1;
  border-radius: v.$border-radius-small;
  display: flex;
  align-items: center;
  height: 2rem;
  padding: 0 35px;
  position: relative;
  user-select: none;
  outline: none;

  &:hover {
    cursor: pointer;
  }

  &[data-disabled] {
    color: v.$gray-400;
    pointer-events: none;
  }

  &[data-highlighted] {
    background-color: v.$gray-300;
  }
}

.SelectLabel {
  font-size: v.$font-size-larger;
  color: v.$blue-500;
  text-align: center;
  line-height: 25px;
  user-select: none;
}

.SelectSeperator {
  height: 1px;
  background-color: v.$blue-100;
  margin: 5px;
}

.SelectItemIndicator {
  position: absolute;
  left: 5px;
  color: v.$blue-500;
}

.SelectScrollButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  cursor: default;
  border-top: 1px solid v.$gray-400;
}
