@use '../abstracts/variables' as v;

@mixin status($color) {
  background-color: rgb($color, 0.2);
  & > .icon {
    color: $color;
  }
}

.Status {
  border-radius: v.$border-radius-full;
  gap: v.$gap-small;
  display: inline-flex;
  align-items: center;
  padding: v.$gap-tiny;

  & > .text {
    font-size: v.$font-size-default;
  }

  &:disabled {
    opacity: 1;
    user-select: all;
  }

  &:hover {
    user-select: none;
  }

  &.pending {
    @include status(v.$yellow-100);
  }

  &.approved {
    @include status(v.$blue-100);
  }

  &.completed,
  &.accepted {
    @include status(v.$green-100);
  }

  &.cancelled,
  &.rejected {
    @include status(v.$red-100);
  }
}
