@use '../abstracts/variables' as v;

.Table {
  .scrollable-wrapper {
    display: flex;
    overflow: hidden;
    overflow-x: auto;
    max-height: 70vh;

    & > table {
      border-spacing: 0;
      border-collapse: separate;
      white-space: nowrap;
      width: 100%;

      & > thead > tr > th {
        padding: v.$gap-small;
        font-size: v.$font-size-larger;
        &:hover {
          user-select: none;
        }
      }

      & > tbody {
        & > tr {
          height: 45px;

          &:nth-child(odd) {
            background-color: v.$gray-300;
          }

          & > td {
            padding-inline: v.$gap-small;
          }
        }
      }

      & > thead > tr > th,
      & > tbody > tr > td {
        text-align: center;
        border-color: transparent;

        &:first-child {
          text-align: left;
          border-left-style: solid;
          border-top-left-radius: v.$border-radius-medium;
          border-bottom-left-radius: v.$border-radius-medium;
        }

        &:nth-child(2) {
          text-align: left;
        }

        &:last-child {
          text-align: right;
          border-right-style: solid;
          border-top-right-radius: v.$border-radius-medium;
          border-bottom-right-radius: v.$border-radius-medium;
        }
      }
    }
  }

  .TableOrder {
    & > svg {
      font-size: v.$icon-size-small;
      margin-left: v.$gap-small;
    }
  }
}

body[data-theme='light'] .Table .scrollable-wrapper {
  & > table > tbody > tr:nth-child(odd) {
    background-color: v.$gray-700;
  }
}
