@use '../abstracts/variables' as v;
@use '../abstracts/mixins';

.TabView {
  display: flex;
  flex-direction: column;
  gap: v.$gap-large;

  & > .scroll-wrapper {
    overflow: hidden;
    overflow-x: scroll;

    & > .switch-wrapper {
      $switch-height: 50px;
      border-radius: calc($switch-height / 2);

      & > .switch {
        width: fit-content;
        height: $switch-height;
        display: flex;
        background-color: v.$gray-100;
        gap: v.$gap-tiny;
        flex-wrap: nowrap;
        user-select: none;
        padding: v.$gap-tiny;
        border-radius: calc($switch-height / 2);

        & > .trigger {
          @include mixins.hover(v.$gray-100);

          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: v.$gap-small;
          padding: v.$gap-small;
          border-radius: v.$border-radius-full;
          white-space: nowrap;

          &.active {
            background-color: v.$gray-300;
          }
        }
      }
    }
  }
}

body[data-theme='light'] .TabView > .scroll-wrapper > .switch-wrapper > .switch {
  background-color: v.$gray-700;

  & > .trigger {
    @include mixins.hover(v.$gray-800);

    &.active {
      background-color: v.$white;
      box-shadow: 0 1px 10px rgba(v.$gray-100, 0.5);
    }
  }
}
