@use '../abstracts/variables' as v;
@use '../abstracts/mixins';

.TextArea {
  @include mixins.input();

  display: flex;
  flex-direction: column;
  gap: 0.25em;
  width: 100%;
  height: 4em;
  resize: none;
  border-radius: v.$border-radius-medium;
  padding: v.$gap-tiny v.$gap-small;
  color: inherit;

  &::-webkit-scrollbar {
    display: none;
  }
}

body[data-theme='light'] .TextArea {
  background-color: v.$gray-700;
  caret-color: black;
  border-color: v.$gray-500;

  &:focus {
    border-color: v.$blue-100;
  }
}
