@use '../abstracts/variables' as v;

.UserAvatar {
  $size: 40px;
  height: $size;
  width: $size;

  & > img {
    height: $size;
    width: $size;
    border-radius: 50%;
    object-fit: cover;
  }
}

body[data-theme='light'] .UserAvatar > img {
  border: 1px solid v.$gray-500;
}
