@use '../abstracts/variables' as v;
@use '../abstracts/mixins';

.UserAvatar {
  $size: clamp(50px, 5vh, 60px);

  @include mixins.hover(v.$bright-fade-200);

  display: flex;
  align-items: center;
  gap: 0.75em;
  white-space: nowrap;
  border-radius: 5px;

  &.noauth {
    padding: 10px;
  }

  &.reverse {
    flex-direction: row-reverse;
  }

  img {
    border-radius: 50%;
    height: $size;
    padding: 0.25em;
  }

  span {
    color: white;
    display: block;
    font-weight: 300;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
